
<div class="index-page">

  <div class="hero">
    <img height="300" src="https://i.ibb.co/w6CXSCD/undraw-gaming-6oy3.png" />
    <h1 class="hero-title">
      Your company needs <span class="accent">gamers</span>,
      <br />We provide them.  
    </h1>

    <div class="cta-con">
      <a class="cta-btn" href="/market">HIRE A GAMER</a>

      <a class="cta-btn" href="/register">GET PAID TO GAME</a>
    </div>

    <div>
      <center>
        <h1 class="why-title">Why have an on site gamer?</h1>

        <h3 class="why-text">
          Do you want to make your company look <span class="accent">Hip</span> and <span class="accent">Cool</span> for prospective hires?
          Do you have a <span class="accent">gaming</span> system setup in a common area, but none of your employees use it?
          We have a solution for you. Hire a <span class="accent">gamer</span>!
        </h3>

        <h1 class="why-title">How It Works</h1>
      </center>

    </div>

    <div class="steps">
      <h1>
        1) Select a gamer 
        from our marketplace
      </h1>

      <h1>2) Discuss your company’s
  needs, demographics
  and business strategies</h1>

      <h1>3) Bring your new
  gamer <br /> on site!</h1>
    </div>

        <h1 class="why-title" stlye="text-align: center;">We’re gaming in San Francisco, New York, and Charlotte</h1>


        <a class="cta-btn" style="width: 700px; text-align: center;" href="/market">BROWSE MARKETPLACE</a>

        <h1>Made with <img height="25" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png" /> in San Francisco</h1>

  </div>




  <div>

  </div>


</div>
