<nav class="white">
  <div class="nav-wrapper">
    <a href="/" class="left brand-logo">OnSiteGamers</a>
    <ul class="right">
      <li><a  href="/market">MarketPlace</a></li>

      {{#if currentUser.mod}}
      <li><a  href="/mod">Mod</a></li>
      {{/if}}
      {{#if currentUser}}
      <li><a  href="/profiles/{{currentUser.username}}">Profile</a></li>
      <li><a  href="/logout">Logout</a></li>
      {{else}}
        <li><a  href="/">About Us</a></li>

        <li><a  href="/register">Join Today</a></li>
        <li><a  href="/login">Log In</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
