nav {
  padding-left: 1rem;
  padding-top: 1rem;
}

.nav-wrapper a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #0069c9;
}

.theDayDate {
  color: #2980b9;
}

.auth-page {
  height: 95vh;
  width: 100%;
  background: url('https://i.ibb.co/qWNJMQZ/1204.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: 1px 2px 2px #000;
}

.top-lab {
  font-weight: 600;
  margin-bottom: 10px;
}

.auth-btn {
  color: white !important;
}

input .auth-btn {
  margin-top: 5px;
  color: white;
  transition: all 400ms;
}



/******index page*******/


.index-page {
  height: 100vh;
  width: 100%;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: black;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: url('https://i.ibb.co/w6CXSCD/undraw-gaming-6oy3.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 30%;
}

.hero h1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.hero-title {
  margin-top: 340px;
}

.why-title {
  margin-top: 80px;
}

.accent {
  color: #0069c9;
  font-weight: bold;
}

.cta-con {
  margin-top: 50px;
  /* display: flex;
  justify-content: center; */
}

.cta-btn {
  background: #0069c9;
  color: white;
  width: 494px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-right: 30px;
}

.why-text {
  text-align: center;
  max-width: 60%;
  font-size: 25px;
  font-weight: normal;
}

.steps {
  display: flex;
  justify-content: space-around;
}

.steps h1 {
  width: 500px;
  text-align: center;
  margin-right: 20px;
}





/*********** PROFILE *************/

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.profile-container {
  max-width: 800px;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,.3);
}





/*   


MARKETPLACE


*/


.market-place {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}


.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  width: 20%;
  margin: 1rem;
  flex-grow: 0;
}

.card-image {
  position: relative;
  width: 100%;
  max-height: 380px;
  overflow: hidden;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: all 3s;
}

.card .card-image img:hover {
  transform: scale(1.05) rotate(.5deg);
  filter: brightness(.8);
}

.card-image .card-title, .card-image .card-title a {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background: rgba(0,0,0,.3);
}

.card .card-title, .card .card-title a {
  font-size: 24px;
  font-weight: 300;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
  position: static;
}

.index-bar {
  position: relative;
  height: 50px;
  width: 100%;
  background: #eaeeff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-bar p {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.card .card-action .row {
  display: flex;
}

.row, .admin-buttons {
  display: flex;
  justify-content: space-around;
}

.row .admin-buttons button {
  margin-right: 20px;
  transition: all 150ms;
  cursor: pointer;
}

.row .admin-buttons button:hover {
  transform: scale(1.05);
}


.edit-button {
  position: absolute;
  top: 1rem;
  right: -1rem;
}



@media (max-width: 900px) and (min-width: 300px) {


.index-bar {
  font-size: 90%;
}

.card {
  width: 95%;
}

.steps {
  flex-wrap: wrap;
}

.nav-wrapper a {
  font-size: 12px;
  padding: 0 13px;
}

.right {
  float: none;
}

.hero-title {
  margin-top: 40px;
}

.cta-con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cta-btn {
  display: block;
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
  width: 90%;
  margin-right: 0;
}

.why-text {
  max-width: 90%;
  font-weight: normal;
}

.steps h1 {
  width: 90%;
  text-align: center;
  margin-right: 20px;
}

.index-bar {
  height: 80px;
}

.profile-container {
  max-width: 95%;
}

.profile-container img {
  width: 100%;
}

}
